<ul class="brands">
    <li class="brands_item">
        <img src="./assets/icons/arrow-down.svg" alt="">
        <span>brand 1</span>
    </li>
    <li class="brands_item">brand 2</li>
    <li class="brands_item">brand 3</li>
    <li class="brands_item">brand 4</li>
    <li class="brands_item">brand 5</li>
    <li class="brands_item">brand 6</li>
    <li class="brands_item">brand 7</li>
    <li class="brands_item">brand 8</li>
    <li class="brands_item">brand 9</li>
    <li class="brands_item">brand 10</li>
    <li class="brands_item">brand 11</li>
    <li class="brands_item">brand 12</li>
    <li class="brands_item">brand 13</li>
    <li class="brands_item">brand 14</li>
    <li class="brands_item">brand 15</li>
    <li class="brands_item">brand 16</li>
    <li class="brands_item">brand 17</li>
    <li class="brands_item">brand 18</li>
    <li class="brands_item">brand 19</li>
    <li class="brands_item">brand 20</li>
</ul>